*{
	padding: 0;
	margin: 0;
}
.lender{
	width: 1180px;
	height: 30px;
	margin: 10px auto;
}
.first{
	float: left;
	color: #9a9791;
	font-size: 12px;
}
.part1 li{
	display: inline-block;
	margin-left: 15px;
	color: #9a9791;
}
.part1{
	margin-left: 378px;
	font-size: 14px;
}
.w{
	float: left;
}
.w1{
	width: 500px;
	height: 35px;
	border-color: #fe6c00;
	color: #9a9791;
	margin-top: 10px;
	margin-left: 100px;
	border-width: 5px;
}
.w2{
	width: 85px;
	height:45px;
	color: white;
	border-radius: 5px;
	background-color: #fe6c00;
}
.daohang{
	width: 1180px;
	height: 95px;
	margin: 0 auto;
}
.w3{
	margin-left: 250px;
	margin-top: 5px;
}
.w3 li{
	display: inline-block;
	font-size: 14px;
	border-right: 1px solid #9a9791;
	padding-right: 5px;
}
.a1{
	color: #ff0000;
}
.a2{
	color: #aca9d3;
}
.a3{
	color: #666560;
}
.m{
	width: 85px;
	height: 40px;
	border: 1px solid #e6e5e2;
	float: right;
	margin-top: 10px;	
}
.mm{
	width: 85px;
	height: 40px;
	border: 1px solid #e6e5e2;
	float: right;
	background-color: #ff4d04;
	color: white;
	font-size: 14px;
	margin-top: 10px;
}
.m p{
	font-size: 12px;
	color: #9ba4bf;
}
.m2{
	margin-top: 10px;
	margin-left: 35px;
}
.m1{
	margin-top: 5px;
	margin-left: 35px;
}
.m3{
	margin-top: 15px;
	margin-left: 5px;
}
.pilot{
	width: 100%;
	height: 40px;
	background-color: black;
}
.p1{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
}
.p1 ul{
	list-style-type: none;
	color: white;
}
.p1 li{
	display: inline-block;
	float: left;
}
.img0{
	width:408px;
	height:408px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #d0cdc7;
}
.img1{
	width:408px;
	height:408px;
	float: left;
	position: absolute;
	left: 105px;
	top: 234px;
	border: 1px solid #d0cdc7;
}
.silder{
	width:100px;
	height:100px;
	background-color: #4e4b46;
	position:absolute;
	left: 0;
	top: 0;
	opacity:0.4;
	cursor: move;
	display:none;
	filter:alpha(opacity=40);
}
.img2{
	position:absolute;
	right:425px;
	top:235px;
	display:none;
	width:408px;
	height:408px;
	border: 1px solid #d0cdc7;
	overflow:hidden;
}
.Bimg{
	width: 900px;
	height: 900px;
	position:absolute;
	left:0;
	top:0;
}
.p3{
	margin-top: 10px;
	margin-right: 65px;
}
.p2{
	width: 65px;
	height: 30px;
	background-color: #fe0d4a;
	padding-top: 10px;
	margin-right: 25px;
	padding-left: 35px;
}
.center{
	width: 100%;
	height: 777px;
	background-color: #f6f5f4;
}
.cc{
	margin-left: 85px;
	margin-bottom: 5px;
	padding-top: 5px;
	font-size: 14px;
}
.c1{
	width: 1180px;
	height: 633px;
	margin: 0 auto;
}
.c2{
	width: 993px;
	height: 633px;
	float: left;
	background-color: white;
}
.cc1{
	width: 408px;
	height: 408px;
	float: left;

}
.cc2{
	width: 470px;
	height: 20px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.cc3{
	width: 470px;
	height: 55px;
	color: #676660;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 12px;
	text-decoration-line: 2em;
}
.cc4{
	margin-left: 20px;
}
.cc5{
	margin-left: 18px;
}
.cc6{
	width: 470px;
	height: 40px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 12px; 
}
.cc7{
	width: 300px;
	height: 20px;
	float: left;
	margin-left: 115px;
	font-size: 13px;
}
.cc8{
	width: 150px;
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 5px;
	color: #ff0754;
	font-weight: 550;
	border: 1px solid #ff0754;
	background-color: white;
}
.cc9{
	width: 150px;
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	color: white;
	font-weight: 550;
	border-radius: 5px;
	border: 1px solid #ff0754;
	background-color: #ff0754;
}
.c3{
	width: 410px;
	height: 100px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}
.c4{
	width: 180px;
	height: 620px;
	float: right;
}
.bottom{
    width: 100%;
    height: 380px;
    background-color: white;
}
.news{
    width: 1180px;
    height: 380px;
    margin: 0 auto;
}
.mn{
    width: 150px;
    height: 183px;
    float: left;
}
.new1 ul{
    float: left;
    list-style-type: none;
    margin-top: 32px;
    margin-left: 70px;
    color: #666560;
    font-size: 12px;
}
.news li{
    margin-top: 12px;
}
.ww{
    color: black;
    font-size: 16px;
}
.new1 img{
    width: 122px;
    height: 142px;
    margin-left: 55px;
    margin-top: 40px;
}
.new1{
    width: 1030px;
    height: 200px;
    float: left;
    border-bottom: 1px solid #ebeae8;
}
.new2{
    width: 1180px;
    height: 180px;
    text-align: center;
}
.new2 ul>li{
    display: inline-block;
    padding-right: 14px;
    margin-left: 14px;
}
.ll1{
    font-size: 14px;
    color: #666560;
}
.ll{
    border-right: 1px solid #d0cdc7;
}
.ll2{
    color: #a797aa;
    font-size: 12px;
}
.capacity{
	width: 60px;
	height: 30px;
	background-color: white;
	border:none;
	margin-left: 20px;
}
.capacity1{
	width: 60px;
	height: 30px;
	background: url(img/duigou.png) no-repeat bottom right;
	border: 1px solid #fe0d4a;
	margin-left: 20px;
}
.ca{
	cursor: pointer;
	width: 25px;
	height: 22px;
	border: 1px solid #cecbc5;
	text-align: center;
	padding-top: 5px;
	float: left;
}
.word{
	color: #ff9003;
	font-size: 16px;
}
.d1{
	width: 100%;
	height: 100%;
	background-color: #dbd9d5;
	position: absolute;
	top: 100px;
	display:block;
	opacity:0.4;
}
.d2{
	width: 405px;
	height: 225px;
	position: absolute;
	top: 195px;
	left: 450px;
	border: 2px solid #aca9d3;
	background-color: rgb(255,255,255);
	margin: 150px auto;
}